<div class="dashboard-container">
  
  <header class="top-bar">
    <div class="control-group">
      <button 
        [class.active]="selectedPeriod === 'Monthly'" 
        (click)="selectedPeriod = 'Monthly'">Monthly</button>
      <button 
        [class.active]="selectedPeriod === 'Quarterly'" 
        (click)="selectedPeriod = 'Quarterly'">Quarterly</button>
      
      <span style="margin-left: 15px; font-weight: bold;">
          | 01 Jan, {{selectedYear}} - 31 Dec {{selectedYear}}
      </span>

      <button [class.active]="selectedYear === 2024" (click)="onYearChange(2024)" style="margin-left: 20px;">2024</button>
      <button [class.active]="selectedYear === 2025" (click)="onYearChange(2025)">2025</button>
    </div>

    <select [(ngModel)]="selectedDistrict" (change)="onDistrictChange($event)">
      <option *ngFor="let district of districtOptions" [value]="district">{{ district }}</option>
    </select>

    <button (click)="toggleTheme()" >
      {{ themeService.theme() === 'dark' ? '☀️ Light Mode' : '🌙 Dark Mode' }}
    </button>
  </header>

  <main class="dashboard-grid" *ngIf="dashboardData">
    
    <summary-cards [summary]="dashboardData.summary"></summary-cards>

    <div class="chart-row">
      <course-progress-chart [data]="dashboardData.courseProgress" [filterDistrict]="selectedDistrict"></course-progress-chart>
      <pass-stats-chart [stats]="dashboardData.passStats"></pass-stats-chart>
    </div>

    <div class="chart-row">
      <assessment-donut-chart [data]="dashboardData.assessmentCompletion"></assessment-donut-chart>
      <grade-breakdown-pie-chart [data]="dashboardData.gradeBreakdown"></grade-breakdown-pie-chart>
    </div>

    <district-ranking-view [data]="dashboardData.districtRanking.districts"></district-ranking-view>
    
  </main>
</div>